<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zb.mvprrd">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".dagger2demo2.app.Dagger22MyApplication"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".eventbus.EventBusActivity">
        </activity>
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".retrofitdemo.RetrofitActivity">
        </activity>
        <activity android:name=".rxjavaretrofitdemo.RxJavaRetrofitActivity">
        </activity>
        <activity android:name=".dagger2demo.Dagger2Activity">
        </activity>
        <activity android:name=".rxjavademo.RxJavaDemoActivity">
        </activity>
        <activity android:name=".mvpDemo.MVPDemoActivity">
        </activity>
        <activity android:name=".dagger2demo2.Dagger22Activity">
        </activity>
    </application>

</manifest>