<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zb.mvprrd">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".Dagger22MyApplication"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".eventbus.EventBusActivity"
            android:label="event_bus">
        </activity>
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".retrofitdemo.RetrofitActivity"
                  android:label="retrofitdemo"/>
        <activity android:name=".rxjavaretrofitdemo.RxJavaRetrofitActivity"
                  android:label="rxjavaretrofitdemo">
        </activity>
        <activity android:name=".dagger2demo.Dagger2Activity"
                  android:label="dagger2demo">
        </activity>
        <activity android:name=".rxjavademo.RxJavaDemoActivity"
                  android:label="rxjavademo">
        </activity>
        <activity android:name=".mvpDemo.MVPDemoActivity"
                  android:label="mvpDemo">
        </activity>
        <activity android:name=".dagger2demo2.Dagger22Activity"
                  android:label="dagger2demo2">
        </activity>
        <activity android:name=".xiaomi.XiaomiActivity"
                  android:label="修改支付宝小米步数"/>
    </application>

</manifest>